@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

.headline {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

html {
	font-family: 'Open Sans', sans-serif;
}
